<%= image_tag user.avatar.url, size: "50x50", class: "d-block mx-auto"%>
<%= link_to "#{user.firstname} #{user.lastname}", user_path(id: user) %>
<% unless user == current_user or user.friend_with?(current_user) %>
	<% if current_user.friends_to_be_approved.include?(user) %>
		<%= button_to "Request Sent", {}, disabled: true, class: 'btn btn-light btn-sm' %>
	<% elsif current_user.friends_to_approve.include?(user)%>
		<span class="btn btn-success btn-sm accept-invitation button-<%= user.id %>">Accept Invitation</span>
	<% else %>
		<%= button_to "Add Friend", friendships_path(receiver_id: user), method: :post, class: 'btn btn-light btn-sm' %>
	<% end %>
<% end %>

		