<div class="container">
	<div class="row">
		<div class="col-md-12">
			<%= @post.title %>
			<%= button_to "Collect" %>
			<!-- todo: 補上collect -->
			<%= button_to "Comment" %>
			<!-- todo: comment -->
		</div>
	</div>
	<div class="row">
		<div class="col-md-4">
			<%= @post.author.email%>
			<!-- todo: 擴充user model，讓它有照片和姓名-->
			<%= button_to "Add Friend" %>
		</div>
		<div class="col-md-8">
			<%= @post.content%>
			<!-- todo 若使用者是該文章/回覆的作者，在本頁面可以同步進行編輯和刪除-->
		</div>
	</div>
</div>