<div class="container">
	<div class="row">
		<div class="col-md-12">
			<h3 class="post_header_item"><%= @post.title %></h3>
			<%= button_tag "Collect", class: "btn btn-primary post_header_item" %>
			<!-- todo: 補上collect -->
			<%= button_tag "Comment", class: "btn btn-primary post_header_item" %>
			<!-- todo: comment -->
		</div>
	</div>
	<div class="row">
		<div class="col-md-3">
			<%= image_tag @post.author.avatar, size: "75x75"%>
			<%= @post.author.firstname%>
			<%= @post.author.lastname%>
			<%= button_to "Add Friend" %>
		</div>
		<div class="col-md-9">
			<%= @post.content%>
			<!-- todo 若使用者是該文章/回覆的作者，在本頁面可以同步進行編輯和刪除-->
		</div>
	</div>
	<div class="row">
		<% @comments.each do |c| %>
			<div class="col-md-3">
				<%= image_tag c.user.avatar, size: "75x75"%>
				<%= c.user.firstname%>
				<%= c.user.lastname%>
				<%= button_to "Add Friend" %>
			</div>
			<div class="col-md-9">
				<%= c.content %>
			</div>
		<%end%>
	</div>
	<div class="row">
		<div class="col-md-12">
			<%= form_with url: post_comments_path(@post.id, action: 'create'), method: "post" do |form| %>
				<%= form.text_field :content, class: :comment_input%>
				<%= form.submit "Comment" %>
			<% end %>
		</div>
	</div>
</div>