<div class="container">
	<div class="row">
		<div class="col-md-12">
			<h3><%= @post.title %></h3>
		</div>
	</div>
	<div class="row">
		<div class="col-md-12" id="<%= @post.id %>">
			<% if not current_user.collected_posts.include?(@post)%>
				<span class="btn btn-primary btn-sm collect-post">Collect</span>
			<% else %>
				<span class="btn btn-danger btn-sm uncollect-post">Uncollect</span>
			<% end %>
		</div>
	</div>
	<div class="row post_show_entry">
		<div class="col-md-2 post_show_user" id="<%= @post.author.id %>">
			<%= render partial: "shared/user_icon", locals: { user: @post.author, related_user: current_user} %>
		</div>
		<div class="col-md-10">
			<div class="row">
				<div class="col-md-10 post_show_content">
					<%= @post.content%><br>
					<% if @post.attachment.present? %><%= image_tag @post.attachment.url, class: "img_responsive" %><% end %>
				</div>
				<div class="col-md-2">
					<% if @post.author == current_user or current_user.admin == true %>
						<%= link_to "X", post_path(@post), method: :delete, class: "btn btn-light btn-sm"%>
						<%= button_tag "Edit", class: "btn btn-light btn-sm"%>
					<% end %>
				</div>
			</div>
			<!-- todo 若使用者是該文章/回覆的作者，在本頁面可以同步進行編輯和刪除-->
		</div>
	</div>
	<hr>
	<!-- Comments if any -->
	<% @comments.each do |c| %>
	<div class="row post_show_comment">
		<div class="col-md-2 post_show_user " id="<%= c.user.id %>" >
			<%= render partial: "shared/user_icon", locals: { user: c.user, related_user: current_user} %>
		</div>
		<div class="col-md-10">
			<div class="row">
				<div class="col-md-10"><%= c.content %></div>
				<div class="col-md-2">
				<% if c.user == current_user or current_user.admin == true %>
					<%= link_to "X", comment_path(c), method: :delete, class: "btn btn-light btn-sm"%>
					<%= button_tag "Edit", class: "btn btn-light btn-sm"%>
				<% end %>
			</div>
			</div>
		</div>
	</div>
	<%end%>
	<!-- Comment area -->
	<div class="row">
		<div class="col-md-2"></div>
		<div class="col-md-10">
			<div class="row">
				<div class="col-md-10 post_show_comment">
					<%= form_with url: post_comments_path(@post, action: 'create'), method: "post" do |form| %>
						<%= form.text_field :content, class: :comment_input%>
						<%= form.submit "Comment" %>
					<% end %>
				</div>
				<div class="col-md-2"></div>
			</div>
		</div>
	</div>
</div>
<script type="text/javascript">
	$(".accept-invitation").on("click", function(event) {
		var id = event.target.parentNode.id;
		$.ajax({
			url: "/users/" + id +"/accept_friendship" ,
			method: "PATCH",
			dataType: "json",
			success: function(){
				// $("#" +id).remove();
				// console.log("Card removed");
				$(".button-"+id).addClass("disabled");
			}
		});
	});

	$(".collect-post").on("click", function(event) {
		var id = event.target.parentNode.id;
		$.ajax({
			url: "/posts/" + id + "/add_collection",
			method: "POST",
			dataType: "json",
			success: function(){
				$(".collect-post").addClass("disabled");
			}
		});
	});

	$(".uncollect-post").on("click", function(event) {
		var id = event.target.parentNode.id;
		$.ajax({
			url: "/posts/" + id + "/remove_collection",
			method: "DELETE",
			dataType: "json",
			success: function(){
				$(".uncollect-post").addClass("disabled");
			}
		});
	});
</script>