<!DOCTYPE html>
<html>
  <head>
    <title>道場</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  	<nav class="navbar navbar-expand-sm navbar-dark bg-dark">
  		<a class="navbar-brand" href="#">道場</a>
  		<div class="navbar-nav">
  			<%= link_to "Feeds", feeds_posts_path, class: "nav-item nav-link"%>
        <%= link_to "All Posts", posts_path, class: "nav-item nav-link"%>
        <%= link_to "New Post", new_post_path, class: "nav-item nav-link"%>
  		</div>
  		<%if user_signed_in?%>
        <div class="ml-auto">
          <%= link_to "My Profile", user_path(current_user), method: :get, class: "nav-item nav-link d-inline-block" %>
          <%= link_to "Log out", destroy_user_session_path, method: :delete, class: "nav-item nav-link d-inline-block" %>
        </div>
        <%else%>
        <%= link_to "Login", new_user_session_path, class: "nav-item nav-link ml-auto" %>
      <%end%>
  	</nav>
  	<%= yield %>
  </body>
</html>
